:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-container {
  width: 80%;
  max-width: 800px;
  background: rgba(19, 35, 47, 1);
  border-radius: 10px;
  padding: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.avatar-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 40px;

  &:hover .edit-icon {
    display: block;
  }

  .edit-icon {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 1.5rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 5px;
    display: none;
    cursor: pointer;
  }
}

.profile-info {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 40px;
  padding: 20px 0;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 15px;
  }
}

.edit-button {
  color: white;
  background-color: #1ab188;
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #12856d;
  }
}

.rating-section {
  margin-top: 40px;
  color: white;
  text-align: center;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
}

p-avatar[label] {
  font-size: 3rem;  /* Adjustează dimensiunea conform nevoilor tale */
}

.modal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
