<div class="profile-container">
  <div class="avatar-section">
    <input
      type="file"
      #fileInput
      style="display: none"
      (change)="onFileSelected($event)"
      accept="image/*"
    />

    <p-avatar
      *ngIf="user?.profilePicture?.imageData; else defaultAvatar"
      [image]="user?.profilePicture?.imageData!"
      size="xlarge"
      shape="circle"
      [style]="{ 'width': '200px', 'height': '200px', 'cursor': 'pointer' }"
      (click)="fileInput.click()"
    ></p-avatar>

    <ng-template #defaultAvatar>
      <p-avatar
        label="{{ user?.username?.charAt(0)?.toUpperCase() }}"
        size="xlarge"
        shape="circle"
        [style]="{ 'background-color': '#1ab188', color: '#ffffff', 'width': '200px', 'height': '200px', 'cursor': 'pointer' }"
        (click)="fileInput.click()"
      ></p-avatar>
    </ng-template>
  </div>

  <div class="profile-info">
    <h2>Personal Info</h2>
    <p><strong>Username:</strong> {{user?.username}}</p>
    <p><strong>Email:</strong> {{user?.email}}</p>
    <p><strong>Phone:</strong> {{user?.phone}}</p>
    <button class="edit-button" (click)="openModal()">Edit Info</button>

  </div>

  <div class="rating-section">
    <button  *ngIf="addFriendButton" class="edit-button" (click)="sendFriendRequest()">Add Friend</button>
    <p-button *ngIf="isAlreadyFriend" label="Unfriend" (click)="unfriend()" styleClass="p-button-danger"  icon="pi pi-times"></p-button>
    <button *ngIf="isRequestSent" class="edit-button" disabled>Request already sent!</button>
  </div>



</div>

<div *ngIf="isModalOpen" class="modal">
  <div class="modal-content">
    <span (click)="isModalOpen = false" class="close">&times;</span>
    <form #userForm="ngForm">
      <div>
        <label>Username:</label>
        <input [(ngModel)]="user!.username" name="username" required>
      </div>
      <div>
        <label>Email:</label>
        <input [(ngModel)]="user!.email" name="email" required>
      </div>
      <div>
        <label>Phone:</label>
        <input [(ngModel)]="user!.phone" name="phone" required>
      </div>
      <button type="button" (click)="onUpdate()">Save</button>
    </form>
  </div>
</div>


