<div class="navbar">
  <div>
    <img src="../../../assets/logo.png" class="logo">
  </div>

  <h1>EventPlanner</h1>

  <div class="buttons">
    <p-menu #menu [model]="items" [popup]="true"></p-menu>
    <p-avatar
      *ngIf="user?.profilePicture?.imageData; else defaultAvatar"
      [image]="user?.profilePicture?.imageData!"
      size="xlarge"
      shape="circle"
      [style]="{ 'width': '100px', 'height': '100px', 'border-radius': '50%;' }"
      (click)="menu.toggle($event)"
    ></p-avatar>

    <ng-template #defaultAvatar>
      <p-avatar
        label="{{ user?.username?.charAt(0)?.toUpperCase() }}"
        size="xlarge"
        shape="circle"
        [style]="{ 'background-color': '#1ab188', color: '#ffffff', 'width': '100px', 'height': '100px' }"
        (click)="menu.toggle($event)"
      ></p-avatar>
    </ng-template>
  </div>
</div>
