:host {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

h1 {
  text-align: center;
  color: #1ab188;
  font-family: 'Alkatra', cursive;
}

.event-participants-container {
  flex-grow: 1;
  max-width: 70%;
  margin-top: 20px;
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 20px;
}

.participants-list {
  width: 50%;
  margin: 50px auto 0; // Ajustează valoarea primei cifre pentru a modifica spațiul de la partea de sus
}


.participant-row {
  display: flex;
  align-items: baseline;
  margin-bottom: 15px;
}

.participant-info {
  margin-left: 15px;
}

.participant-name {
  font-size: 20px;
  font-weight: bold;
}

.like-icon,
.dislike-icon {
  color: green;
  margin-left: auto;
}

.dislike-icon {
  color: red;
}

.like-icon i, .dislike-icon i {
  font-size: 35px; // you can change this value to adjust the size
}


