<div class="dashboard">
  <div class="center-container">
    <button class="create-event-button" routerLink="/create-event">Create Your Event</button>
  </div>

  <div *ngIf="events" class="events-container">
    <h1>Your Events</h1>
    <div class="my-events">
      <div *ngFor="let event of events" class="event-button" [routerLink]="['/event', event?.id]">
        <a>{{event.name}}</a>
      </div>
      <div *ngIf="events.length > 3" class="event-button more-events-btn" [routerLink]="['/my-events']">
        <a>...</a>
      </div>
    </div>
  </div>
</div>


