.event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  background: rgba(19, 35, 47, 1);
  color: #1ab188;

}

p-button {
  margin-right: 15px;
}
