.event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  background: rgba(19, 35, 47, 1);
  color: #1ab188;

}
.users {
  display: flex;
  gap: 0; /* Elimină spațiul dintre elementele .users */
  align-items: center; /* Centrați elementele pe axa transversală */
}

p-button {
  margin-right: 15px;
}

:host{
  ::ng-deep .p-button.p-button-icon-only.p-button-rounded {
    background: #1ab188;
    border: #1ab188;
  }
}

.more-button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-color: black;
  font-size: 20px;
  color: #000;
  background-color: #fff;
  cursor: pointer;
}

