<div class="event">
  <h1>{{event?.name}}</h1>

  <div class="users">
    <div  *ngFor="let user of event.users">
      <p-avatar
        *ngIf="user?.profilePicture?.imageData; else defaultAvatar"
        [image]="user?.profilePicture?.imageData!"
        size="xlarge"
        shape="circle"
        [style]="{ 'width': '100px', 'height': '100px', 'border-radius': '50%;' }"
      ></p-avatar>

      <ng-template #defaultAvatar>
        <p-avatar
          label="{{ user?.username?.charAt(0)?.toUpperCase() }}"
          size="xlarge"
          shape="circle"
          [style]="{ 'background-color': '#1ab188', color: '#ffffff', 'width': '100px', 'height': '100px' }"
        ></p-avatar>
      </ng-template>
    </div>

  </div>

  <div class="buttons">
    <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
    <p-button (click)="confirm1()" icon="pi pi-check" styleClass="p-button-success"></p-button>
    <p-button (click)="confirm2()" icon="pi pi-times" styleClass="p-button-danger"></p-button>
  </div>
</div>
