<div class="event">
  <h1>{{getTruncatedTitle(event?.name)}}</h1>


  <div class="users">
    <div *ngFor="let user of event.users | slice:0:3"> <!-- limit to first 5 users -->
        <p-avatar
          *ngIf="user?.profilePicture?.imageData; else defaultAvatar"
          [image]="user?.profilePicture?.imageData!"
          size="xlarge"
          shape="circle"
          [style]="{ 'width': '100px', 'height': '100px', 'border-radius': '50%;' }"
        ></p-avatar>

        <ng-template #defaultAvatar>
          <p-avatar
            label="{{ user?.username?.charAt(0)?.toUpperCase() }}"
            size="xlarge"
            shape="circle"
            [style]="{ 'background-color': '#1ab188', color: '#ffffff', 'width': '100px', 'height': '100px' }"
          ></p-avatar>
        </ng-template>
    </div>
      <button class="more-button" *ngIf="event.users.length >= 3" [routerLink]="['/event', event?.id, 'participants']">
        ...
      </button>
  </div>


  <div class="buttons">
    <div *ngIf="request">
      <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
      <p-button (click)="confirm()" icon="pi pi-check" styleClass="p-button-success"></p-button>
      <p-button (click)="reject()" icon="pi pi-times" styleClass="p-button-danger"></p-button>
    </div>
    <div *ngIf="!request">
      <p-button [routerLink]="['/event', event?.id]" icon="pi pi-eye"  styleClass="p-button-rounded red-button"></p-button>
      <p-button icon="pi pi-times" styleClass="p-button-danger"  pTooltip="Leave this event" [autoHide]="false" tooltipPosition="top" (click)="withdrawFromEvent()"></p-button>
    </div>
  </div>
</div>
