.polls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.option{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 500px;
}


p-card button, p-card .option {
  margin-top: 20px;
  align-self: center; /* Centrați butonul în blocul p-card */
}


.action-button {
  color: white;
  background: #1ab188;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.9375rem 1.5625rem;
  text-align: center;
  border-radius: 6px;
  border: #1ab188;
  margin-top: 25px;
}
